<script setup lang="ts">
import { ref } from "vue";
const text = ref("Edit me");
const checked = ref(true);
const multiCheck = ref(["Jack"]);
const picked = ref('one')
const selected = ref('A')
const multiSelected = ref(['A'])
</script>

<template>
  <h2>Text Input</h2>
  <input v-model="text" />{{ text }}
  <br />

  <h2>Checkbox</h2>
  <input type="checkbox" id="checkbox" v-model="checked" />
  <label for="checkbox">Checked: {{ checked }}</label>

  <h2>Multi Checkbox</h2>
  <input type="checkbox" id="Jack" value="Jack" v-model="multiCheck" />
  <label for="Jack">Jack</label>
  <input type="checkbox" id="John" value="John" v-model="multiCheck" />
  <label for="John">John</label>
  <input type="checkbox" id="Mike" value="Mike" v-model="multiCheck" />
  <label for="Mike">Mike</label>
  <p>Checked names: <pre>{{ multiCheck }}</pre></p>


  <h2>Radio</h2>
  <input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ picked }}</span>


  <h2>Select</h2>
  <select v-model="selected">
    <option disabled value="">Please select one</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ selected }}</span>

  <h2>Multi Select</h2>
  <select v-model="multiSelected" multiple style="width:100px">
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <span>Selected: {{ multiSelected }}</span>
</template>

<style></style>
