<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalCompVue from "./components/CalComp.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandingUserInputVue from "./components/HandingUserInput.vue";
import AttributeBindingsVue from "./components/AttributeBindings.vue";
import ConditionalsBindingsVue from "./components/ConditionalsBindings.vue";
import FormBindingVue from "./components/FormBinding.vue";
import SimpleCompVue from "./components/SimpleComp.vue";
</script>

<template>
  <div>
    <SimpleCompVue />
    <FormBindingVue />
    <br />
    <br />
    <ConditionalsBindingsVue />
    <br />
    <br />
    <AttributeBindingsVue />
    <HandingUserInputVue />
    <CalCompVue />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
